@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	@apply rounded-full bg-muted-foreground dark:bg-muted;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		font-size: 16px !important;
		font-family:
			sans-serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times, Symbola,
			Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
		line-height: 24px;
		font-weight: 400;
		text-rendering: optimizeLegibility;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 83.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	pre.shiki {
		@apply m-0 rounded-none bg-transparent p-0 py-2 max-sm:max-h-[30rem] !important;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	pre.shiki code {
		/* counter-reset: lineNumber; */
		@apply grid [counter-reset:line] [&>span]:border-l-[3px] [&>span]:border-l-transparent [&>span]:pl-2 [&>span]:pr-3 [&>span]:before:mr-3 [&>span]:before:inline-block [&>span]:before:w-4 [&>span]:before:text-right [&>span]:before:text-muted-foreground [&>span]:before:![content:counter(line)] [&>span]:before:[counter-increment:line];
	}

	pre.shiki code span.line-highlight {
		@apply !border-l-blue-700/80 bg-blue-800/[15%];
	}

	pre.shiki code span.diff-add::before {
		content: '+' attr(data-line) !important;
		@apply text-green-400;
	}
	pre.shiki code span.diff-add {
		/* content: '+' + attr(data-line); */
		@apply !border-l-green-400/80 bg-green-400/[15%];
	}

	pre.shiki code span.diff-remove::before {
		content: '-' attr(data-line) !important;
		@apply text-red-400;
	}
	pre.shiki code span.diff-remove {
		@apply !border-l-red-400/80 bg-red-400/[15%];
	}

	.valkyrie {
		box-shadow:
			1px 1px 1px rgba(0, 0, 0, 0.03),
			10px 10px 17px -1px rgba(0, 0, 0, 0.03),
			50px 50px 80px -3px rgba(0, 0, 0, 0.03);

		@apply border border-muted bg-background;
	}
}
